= form_for @register do |f|
  - if @register.errors.any?
    #error_explanation
      %h2= "#{pluralize(@register.errors.count, "error")} prohibited this register from being saved:"
      %ul
        - @register.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :password
    = f.text_field :password
  .field
    = f.label :confirmpassword
    = f.text_field :confirmpassword
  .field
    = f.label :email
    = f.text_field :email
  .actions
    = f.submit 'Create'
