%h1 Listing registers

%table
  %thead
    %tr
      %th Username
      %th Password
      %th Confirmpassword
      %th Email
      %th
      %th
      %th

  %tbody
    - @registers.each do |register|
      %tr
        %td= register.username
        %td= register.password
        %td= register.confirmpassword
        %td= register.email
        %td= link_to 'Show', register
        %td= link_to 'Edit', edit_register_path(register)
        %td= link_to 'Destroy', register, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Register', new_register_path
