%p#notice= notice

%p
  %b Username:
  = @register.username
%p
  %b Password:
  = @register.password
%p
  %b Confirmpassword:
  = @register.confirmpassword
%p
  %b Email:
  = @register.email

= link_to 'Edit', edit_register_path(@register)
\|
= link_to 'Back', registers_path
