%h1 Listing logins

%table
  %thead
    %tr
      %th Username
      %th Password
      %th
      %th
      %th

  %tbody
    - @logins.each do |login|
      %tr
        %td= login.username
        %td= login.password
        %td= link_to 'Show', login
        %td= link_to 'Edit', edit_login_path(login)
        %td= link_to 'Destroy', login, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Login', new_login_path
